@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --font-cairo: "Cairo", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo), system-ui, sans-serif;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
